{{ $repo := getJSON "https://raw.githubusercontent.com/davidwhitman/StarsectorModRepo/main/ModRepo.json" }}

<div class="container">
  <div class="text-center">
    <small class="text-muted float-end">generated <span class="date">{{$repo.lastUpdated}}</span></small>
    <script>
        $(".date").text(
          new Date($(".date").text()).toLocaleString()
        );
      </script>
    <br />
    <h3><strong>Starmodder</strong></h3>
    <h6>An unofficial Starsector <a href="https://github.com/davidwhitman/StarsectorModRepo" target="_blank">mod
        database</a></h6>
    <h6><i>Hint: Use Control-F</i></h6>
  </div>
  <div class="container">
    <div class="row equal">
      {{ range $index, $mod := $repo.items}}
      {{ $id := printf "%d" $index | printf "%s%s" "-" | printf "%s%s" $mod.name | printf "%s"}}
      <div class="col-lg-4 col-md-12 mb-4">
        <div id="{{$id}}" class="card mb-2" style="height: 100%">
          <div class="card-header">
            {{/* Images */}}
            {{ range $img := $mod.images }}
            <div style="max-height: 120px; margin-bottom: 16px" class="bg-image hover-overlay ripple"
              data-mdb-ripple-color="light">
              <img src="{{ $img.url }}" class="img-fluid" />
              <a class="gallery" href="{{ $img.url }}" title="{{ $mod.name }}">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>
            {{ end }}
            {{/* Title */}}
            <a href="#{{$id}}" class="float-end" style="color:inherit"><i class="fas fa-link mt-2 fs-6"></i></a>
            <h4 class="card-title">{{ $mod.name }}
            </h4>
            {{/* Authors */}}
            <div>
              <small class="text-muted"><i class="fas fa-user-alt me-2 mb-2"></i>
                {{ delimit $mod.authorsList ", "}}</small>
            </div>
            <div class="container g-0">
              <div class="row">
                {{/* Last updated */}}
                {{ if $mod.dateTimeCreated }}
                <div class="col-sm-6">
                  <small class="text-muted"><i class="fas fa-clock me-2 mb-2"></i>
                    {{ time.Format ":date_medium" $mod.dateTimeCreated }}</small>
                </div>
                {{ end}}
                {{/* Game version */}}
                {{ if $mod.gameVersionReq }}
                <div class="col-sm-6">
                  <small class="text-muted"><i class="fas fa-gamepad me-2 mb-2"></i>{{$mod.gameVersionReq}}</small>
                </div>
                {{ end}}
                {{/* Categories */}}
                {{ if $mod.categories}}
                {{ range $category := $mod.categories }}
                <div class="col-sm-6">
                  <small class="text-muted"><i class="fas fa-tag me-2 mb-2"></i>{{$category}}</small>
                </div>
                {{ end }}
                {{ end }}
              </div>
            </div>
          </div>
          <div class="card-body">
            {{/* Summary */}}
            <p class="card-text small" style="opacity: 0.85;cursor: pointer" data-mdb-toggle="modal"
              data-mdb-target="#modal{{ $index }}">
              {{ $mod.summary }}
            </p>
            {{ if ($mod.summary)}}
            {{/* Read More button */}}
            <div class="text-center">
              <button type="button" class="btn btn-outline-info" data-mdb-toggle="modal"
                data-mdb-target="#modal{{ $index }}">Read More</button>
            </div>
            {{ end }}
          </div>
          <div class="card-footer">
            {{/* Bottom bottoms */}}
            {{ range $url_name, $url_value := $mod.urls }}

            {{ if (eq $url_name "DirectDownload") }}
            <a href="{{$url_value}}" target="_blank" class="btn btn-dark btn-floating" style="margin-right: 8px;">
              <i class="fas fa-download"></i></a>
            {{ else if (eq $url_name "DownloadPage") }}
            <a href="{{$url_value}}" target="_blank" class="btn btn-dark btn-sm mb-1">Website</a>
            {{ else if (eq $url_name "Forum") }}
            <a href="{{$url_value}}" target="_blank" class="btn btn-dark btn-sm mb-1">Forum</a>
            {{ else if (eq $url_name "Discord") }}
            <a href="{{$url_value}}" target="_blank" class="btn btn-dark btn-sm mb-1">
              <i class="fab fa-discord"></i>
            </a>
            {{ else if (eq $url_name "NexusMods") }}
            <a href="{{$url_value}}" target="_blank" class="btn btn-dark btn-sm mb-1">Nexus</a>
            {{ else }}
            <a href="{{$url_value}}" target="_blank" class="btn btn-dark btn-sm mb-1">{{$url_name}}</a>
            {{ end }}
            {{ end }}

            <!-- Modal -->
            <div class="modal" id="modal{{ $index }}" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ $mod.name }}</h5>

                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div id="modmodal-{{ $index }}" class="modal-body">{{ $mod.description }}</div>
                  <script>
                    $(function () {
                      $("#modmodal-{{ $index }}").html(
                        DOMPurify.sanitize(
                          marked.parse($("#modmodal-{{ $index }}").html())
                        )
                      );
                    });
                  </script>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      {{/* <div>{{partial "mod" . }}</div> */}}
      {{ end }}
    </div>
  </div>
</div>